{% load static %}
<div style="margin-top: 3rem; margin-bottom: 2rem" id="comment-section">
    <h3 class="mb-3 mt-5">Comment section</h3>
    <div class="list-group">
        {% for comment in comments %}
        {% if user == comment.created_by.user %}
        <div class="comment-section list-group-item list-group-item-action"
             style="border-radius: 25px;margin-top: 1rem">
            <div class="buttons">
                <div class="editable_content">
                    <div style="display: flex">
                        <button class="my-buttons btn btn-warning editButton" onclick="swap()">Edit</button>
                        {% csrf_token %}
                        <button class="my-buttons submitButton btn btn-success" style="display: none"
                                onclick="editComment('{{comment.project.id}}', '{{comment.id}}', '{{csrf_token}}')">
                            Submit
                        </button>
                    </div>
                </div>
                {% csrf_token %}
                <button class="my-buttons btn btn-danger"
                        onclick="deleteComment('{{comment.project.id}}', '{{comment.id}}', '{{csrf_token}}')">Delete
                </button>
            </div>
            <div class="content">
                <div class="d-flex w-100 justify-content-end">
                    <h7 class="mb-1">{{comment.created_at}} <b>{{comment.created_by}}</b></h7>
                </div>
                <div class="d-flex w-100 justify-content-end">
                    <h6 class="comment-content" class="mb-1" name="comment">{{comment}}</h6>
                    <textarea class="textarea" name="textArea" style="display: none">{{comment}}</textarea>
                </div>
            </div>
        </div>
        {% else %}
        <div class="list-group-item list-group-item-action flex-column align-items-start"
             style="border-radius: 25px;margin-top: 1rem">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">{{comment.created_at}} <b>{{comment.created_by}}</b></h6>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">{{comment}}</h6>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div>
            {% if user.is_authenticated %}
            <form action="/projects/{{project.id}}/comments" method="POST">
                {% csrf_token %}
                <textarea name="comment" style="margin-top: 1rem" class="form-control" rows="3" required></textarea>
                <button class="submit-button btn btn-primary" style="margin-top: 1rem" type="submit">Post</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static 'js/comment_section.js' %}"></script>
<script>
    $(() => {
        if (window.location.href.indexOf("#comment-section") > -1) {
            const post = document.getElementsByClassName('alert-container')[0];
            post.style = "display:flex;";
            post.getElementsByTagName('div')[0].innerHTML = "New post added";
            setTimeout(function () {
                post.style = "display:none;";
            }, 2000)
        }

    })

</script>