{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load project_extras %}

{% block title %}Projects{% endblock %}

{% block content %}
<h2 class="mt-3 text-center">Open Projects</h2>


<div class="row">
    <div class="col-lg text-center">

        <div class="flex-space-around">
            <div class="text-center d-inline-flex list-group mt-3" id="project-toggle" role="tablist">
                <ul class="pagination">
                    {% for project_category in project_categories %}
                    <li class="page-item">

                        {% if not category|slugify == project_category.name|slugify %}
                        <a
                                class="list-group-item list-group-item-action"
                                data-toggle="list"
                                role="tab"
                                id="{{project_category}}"
                                aria-controls="{{project_category}}"
                                href="#{{project_category}}">
                            {{project_category}}
                        </a>
                        {% else %}
                        <a
                                class="list-group-item list-group-item-action active show"
                                data-toggle="list"
                                role="tab"
                                id="{{project_category}}"
                                aria-controls="{{project_category}}"
                                href="#{{project_category}}" aria-selected="true">
                            {{project_category}}
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <form type="get" action="." class="flex-center">
                <input class="form-control" id="search_box" type="text" name="search_box" placeholder="Search..."
                       style="margin-right:0.5rem;" {% if search_term %} value="{{search_term}}" {% endif %}>
                <button class="btn btn-primary" id="search_submit">Search</button>
            </form>
        </div>

        <div>
            <div class="tab-pane show">
                <h3 class="mb-3 mt-5">{{category}}</h3>
                <div class="row projects-view">
                    {% for project in projects.object_list %}
                    <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                        <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
                            <div class="media">
                                <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}"
                                     alt="Generic placeholder image."/>
                                <div class="media-body">
                                    <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                                    <p>Posted by: {{project.user.user.username}}</p>
                                    <p class="project-description">{{project.description}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="pagination">
    <span class="step-links">
        <input id="page-number" type="hidden" value="{{projects.number}}">
        {% if projects.has_previous %}
            <button id="btn-prev" class="btn btn-primary">Pre</button>
        {% endif %}

        <span class="current">
            Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
        </span>

        {% if projects.has_next %}
            <button id="btn-next" class="btn btn-primary">Next</button>
        {% endif %}
    </span>
        </div>

    </div>
</div>

<script src="{% static 'js/tab_change.js' %}"></script>

{% endblock %}
